In [1]:
from pyspark.sql.types import StructField, StructType, IntegerType, StringType
from pyspark.sql import functions as f

StatementMeta(tcccibele, 9, 1, Finished, Available)

In [2]:
# Definir schema do arquivo
schema = StructType([ 
    StructField("None", StringType(), True), 
    StructField("Suspeito", StringType(), True), 
    StructField("Janeiro", StringType(), True), 
    StructField("Fevereiro", StringType(), True), 
    StructField("Março", StringType(), True), 
    StructField("Abril", StringType(), True), 
    StructField("Maio", StringType(), True), 
    StructField("Junho", StringType(), True), 
    StructField("Julho", StringType(), True), 
    StructField("Agosto", StringType(), True), 
    StructField("Setembro", StringType(), True), 
    StructField("Outubro", StringType(), True), 
    StructField("Novembro", StringType(), True), 
    StructField("Dezembro", StringType(), True), 
    StructField("Total", StringType(), True)
])

StatementMeta(tcccibele, 9, 2, Finished, Available)

In [3]:
# Ler arquivo de origem da landing zone
df = spark.read.format("csv") \
            .schema(schema) \
            .options(quote='"') \
            .load('/landing_zone/2019/Balanco-2019-Ligue180-Suspeito.csv')

StatementMeta(tcccibele, 9, 3, Finished, Available)

In [4]:
# Remover colunas e linhas sem valor para o data lake
df = df.where((df[1].isNotNull()) \
                & (df[1] != 'Total') \
                & (df[-1] != 'Total 2019') \
                & (df[-1].isNotNull()))
df = df.drop('None')
df = df.drop('Total')

StatementMeta(tcccibele, 9, 4, Finished, Available)

In [5]:
# Remover "," de todos os campos e substitui null por 0
names = df.schema.names
for name in names:
    if name == 'Suspeito':
        continue
    df = df.withColumn(name,f.regexp_replace(name,',',''))
    df = df.withColumn(name, df[name].cast(IntegerType()))

df = df.fillna(0)

StatementMeta(tcccibele, 9, 5, Finished, Available)

In [6]:
# Escrever dados limpos em formato parque no azure storage
df.write.format('parquet').mode('overwrite').save('/history_zone/2019/Suspeito/')

StatementMeta(tcccibele, 9, 6, Finished, Available)

In [7]:
df = spark.read.parquet('/history_zone/2019/Suspeito/')
df.toPandas()

StatementMeta(tcccibele, 9, 7, Finished, Available)

                                             Suspeito  ...  Dezembro
0                                              Amante  ...         0
1                                            Amigo(a)  ...        17
2                                                 Avó  ...         4
3                                                 Avô  ...         3
4                                          Bisneto(a)  ...         1
5                                               Chefa  ...         0
6                                               Chefe  ...         6
7                                  Colega de trabalho  ...         0
8                                     Companheiro (a)  ...       999
9                                       Conhecido (a)  ...         0
10                                            Cônjuge  ...       403
11                                       Cuidador (a)  ...         2
12                                         Cunhado(a)  ...        45
13                                    Desconhecido(a)  ...       116
14                               Diretor(a) de escola  ...         0
15                    Diretor(a) de Unidade Prisional  ...         0
16                                      Empregado (a)  ...         2
17                                         Empregador  ...         6
18                                         Enteado(a)  ...         8
19                                 Ex Companheiro (a)  ...       601
20                                         Ex Cônjuge  ...       150
21                                    Ex Namorado (a)  ...       172
22                                         Familiares  ...        13
23                                          Filho (a)  ...       279
24                                         Genro/Nora  ...        16
25                                          Irmão (ã)  ...       113
26                                    Líder Religioso  ...         1
27                                           Madrasta  ...         0
28                                                Mãe  ...        28
29                                        Namorado(a)  ...        68
30                                      Não Informado  ...       205
31                                            Neto(a)  ...        17
32                                              Outro  ...         0
33                                           Padrasto  ...        12
34                                  Padrinho/Madrinha  ...         0
35                                                Pai  ...        41
36                                           Parentes  ...         0
37                                           Primo(a)  ...        15
38                                       Professor(a)  ...         3
39                              Profissional da Saúde  ...         0
40                  Profissional da Segurança Pública  ...         0
41                                     Própria vítima  ...         1
42  Proprietário (a) do imóvel em que a vítima reside  ...         0
43                                        Sobrinho(a)  ...        17
44                                           Sogro(a)  ...         6
45                                        Subordinado  ...         0
46                                            Tio (a)  ...        23
47                                        Vizinho (a)  ...       159

[48 rows x 13 columns]